.content {
    background: url('képek/pawinhand.jpg') no-repeat center;
}



.first {
    border: 1px solid rgb(0, 0, 0);
    display: inline;
    width:
}

img {

    width: 100px;
    height: 100px;
}

